<?xml version="1.0"?>
<launch>

  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="spawn_drone" default="true" />


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rl_mav_ros)/worlds/simple.world" />
    <arg name="paused" value="false" />
    <arg name="gui" value="true" />
  </include>

  <!-- Spawn simulated quadrotor uav -->
  <group if="$(arg spawn_drone)" ns="quadrotor">
  	<include file="$(find qlab_gazebo)/launch/spawn_quadrotor.launch" >
    		<arg name="model" value="$(find qlab_description)/urdf/quadrotor_sensors.urdf.xacro"/>
  	</include>
  </group>
 
</launch>
